@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 239, 237, 239;
    --background-start-rgb: 15, 9, 19;
    --background-end-rgb: 15, 9, 19;
}

.shimmerb {
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(#33b6d8),
            to(#33b6d8),
            color-stop(0.3, #b2f3e0));
    background: -moz-gradient(linear,
            left top,
            right top,
            from(#33b6d8),
            to(#33b6d8),
            color-stop(0.3, #b2f3e0));
    background: gradient(linear,
            left top,
            right top,
            from(#33b6d8),
            to(#33b6d8),
            color-stop(0.3, #b2f3e0));
    -webkit-background-size: 70px 100%;
    -moz-background-size: 70px 100%;
    background-size: 70px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmerb;
    -moz-animation-name: shimmerb;
    animation-name: shimmerb;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #33b6d8;
}

@-moz-keyframes shimmerb {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmerb {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmerb {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmerb {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

* {
    text-align: justify;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 0;
}

::-webkit-scrollbar {
    background: #d2b863;
    border-color: #ad832d;
    border-radius: 0;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d2b863;
    border-color: #ad832d;
}

::-webkit-scrollbar-thumb:hover {
    background: #b2f3e0;
}

/* footer border */
.outline-border {
    border-top: 2px solid #ec4237;
    border-bottom: 2px solid #33b6d8;
    background-image: linear-gradient(#ec4237, #33b6d8),
        linear-gradient(#ec4237, #33b6d8);
    background-size: 2px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.glass {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.layer1 {
    background-image: url("../public/heroimage.jpeg");
}

body {
    color: rgb(var(--foreground-rgb));
    /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: #0f0913;
    /* background: linear-gradient(
    130deg,
    rgba(15, 9, 19, 1) 28%,
    rgba(61, 46, 16, 1) 50%,
    rgba(15, 9, 19, 1) 67%
  ); */
    background-attachment: fixed;
    box-sizing: border-box;
}

.spacer {
    aspect-ratio: 1057/644;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}